<%- include("header") -%>

<h1>About Me</h1>
<p>Abhishek Paika graduated in Mechanical Engineering  (Georgian College, Barrie). Having worked for over 6 years as Engineer, Abhishek decided to truly follow his passion in computers

He is a self-taught Graphic Designer and Web-Developer

Abhishek is currently teaching Web-Development and Graphic Designing at his home-town in Patiala, Punjab</p>

<%- include("footer") -%>
